# Copyright (c) 2016-2020 Martin Donath <martin.donath@squidfunk.com>

# Permission is hereby granted, free of charge, to any person obtaining a copy
# of this software and associated documentation files (the "Software"), to
# deal in the Software without restriction, including without limitation the
# rights to use, copy, modify, merge, publish, distribute, sublicense, and/or
# sell copies of the Software, and to permit persons to whom the Software is
# furnished to do so, subject to the following conditions:

# The above copyright notice and this permission notice shall be included in
# all copies or substantial portions of the Software.

# THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS OR
# IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY,
# FITNESS FOR A PARTICULAR PURPOSE AND NON-INFRINGEMENT. IN NO EVENT SHALL THE
# AUTHORS OR COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER
# LIABILITY, WHETHER IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING
# FROM, OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER DEALINGS
# IN THE SOFTWARE.

# Project information
site_name: The Domik
site_url: https://mikhailp.gitlab.io/domik-documentation/
site_author: Mikhail Permyakov
site_description: >-
  Generate a house by one click or make your own procedural generation system and extend it with 2D and 3D assets.<br/>
  Optimized. Fast. Flexible. Reliable. <br/>
  Set up in 5 minutes.



# Repository
repo_name: Asset Store link
repo_url: https://assetstore.unity.com/packages/tools/utilities/cozy-house-generator-139104
edit_uri: ""

# Copyright
copyright: Copyright &copy; 2021 Mikhail Permyakov

# Configuration
theme:
  name: null
  custom_dir: material

  # 404 page
  static_templates:
    - 404.html

  # Don't include MkDocs' JavaScript
  include_search_page: false
  search_index_only: true

  # Default values, taken from mkdocs_theme.yml
  language: en
  features:
    # - navigation.instant
    - navigation.sections
    - navigation.tabs
  palette:
    scheme: default
    primary: teal
    accent: teal
  font:
    text: Roboto
    code: Roboto Mono
  favicon: assets/favicon.png
  icon:
    logo: fontawesome/solid/home
    repo: fontawesome/brands/unity

# Plugins
plugins:
  - search
  - roamlinks
  - redirects
  - mkdocs-video
  - minify:
      minify_html: true

# Customization
extra:
  social:
  #  - icon: fontawesome/brands/github
  #    link: https://github.com/squidfunk
  #  - icon: fontawesome/brands/gitter
  #    link: https://gitter.im/squidfunk/mkdocs-material
  #  - icon: fontawesome/brands/docker
  #    link: https://hub.docker.com/r/squidfunk/mkdocs-material/
  #  - icon: fontawesome/brands/twitter
  #    link: https://twitter.com/squidfunk
  #  - icon: fontawesome/brands/linkedin
  #    link: https://linkedin.com/in/squidfunk/
  #  - icon: fontawesome/brands/instagram
  #    link: https://instagram.com/squidfunk

# Extensions
markdown_extensions:
  - admonition
  - abbr
  - attr_list
  - def_list
  - footnotes
  - meta
  - md_in_html
  - toc:
      permalink: true
  - pymdownx.arithmatex:
      generic: true
  - pymdownx.betterem:
      smart_enable: all
  - pymdownx.caret
  - pymdownx.critic
  - pymdownx.details
  - pymdownx.emoji:
      emoji_index: !!python/name:materialx.emoji.twemoji
      emoji_generator: !!python/name:materialx.emoji.to_svg
  - pymdownx.highlight
  - pymdownx.inlinehilite
  - pymdownx.keys
  - pymdownx.magiclink:
      repo_url_shorthand: true
      user: squidfunk
      repo: mkdocs-material
  - pymdownx.mark
  - pymdownx.smartsymbols
  - pymdownx.snippets:
      check_paths: true
  - pymdownx.superfences:
      custom_fences:
        - name: mermaid
          class: mermaid
          format: !!python/name:pymdownx.superfences.fence_code_format
  - pymdownx.tabbed
  - pymdownx.tasklist:
      custom_checkbox: true
  - pymdownx.tilde

# Page tree
nav:
  - Home: index.md
  - Introduction:
    - Getting Started: Introduction/Getting Started.md
    - How to add new furniture: Introduction/How to add new furniture.md
    - How to change facade: Introduction/How to change facade.md
    - How to change house floors: Introduction/How to change house floors.md
    - How to change house size: Introduction/How to change house size.md
    - How to change room walls: Introduction/How to change room walls.md
    - How to create Mask: Introduction/How to create Mask.md
    - How to create new floor: Introduction/How to create new floor.md
    - How to create new interior: Introduction/How to create new interior.md
    - How to create place: Introduction/How to create Place.md
    - What are floor tags: Introduction/What are floor tags.md
    - What is a Placeable Object: Introduction/What is a Placeable Object.md
    - What is a Preview system: Introduction/What is a Preview system.md
  - Overview:
    - Getting Started: Getting Started.md
    - House Generator: House Generator.md
    - Interior: Interior.md
    - Mask: Mask.md
    - Part: Part 1.md
    - Part Builder: Part Builder.md
    - Parts Binding System: Parts Binding System.md
    - Pipeline: Pipeline.md
    - Nodes: Nodes.md
    - Place: Place.md
    - Placeable Object: Placeable Object.md
    - Placeable Objects Container: Placeable Objects Container.md
    - Skin: Skin.md
    - Tag: Tag.md
    - Start Node: Start Node.md
    - End Node: End Node.md

# Google Analytics
google_analytics:
  - !!python/object/apply:os.getenv ["GOOGLE_ANALYTICS_KEY"]
  - auto
